<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charaset = "utf-8">
        <title>Commerce</title>
		<style>{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: rgba(0,0,0,0.87);
}

.site-width {
    width: 100%;
}

#main {
    background-color: #FFD464;
}

body {
    background-color: #FFD464;
}


.character-area {
    float: left;
}

input[type=radio] {
    display: none;
}

.panel-ceo {
    width: 33vw;
    display: block;
    float: left;
    box-sizing: border-box;
}

#container-top-characters {
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}

#container-bottom-characters {
    margin: 0 auto;
    width: 66vw;
    overflow: hidden;
}

.btn {
    width: 25vw;
    margin: 0 auto;
    display: block;
    font-size: 2vw;
}

.btn-square {
  width: 6vw;
   text-align: center;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #1253A4;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  list-style: none;
  margin: 10px;
  float: left;
}
.btn-square2 {
  width: 5vw;
  text-align: center;
  font-size: 50%;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #F26964;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  list-style: none;
  margin: 30px;
  float: left;
  position: absolute;
  right: 0;
  bottom: 0;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.js-panel-select {
    border: 5px rgba(0,0,0,0) solid; 
}

.js-btn-prohibid {
    background-color: gray; 

.js-btn-permit {
    background-color: yellow; 
}
		</style>
    </head>
    
    <body>
        <header>
        </header>
        <div id="main" class="site-width">
            <div class="characters-select-area" >
                <h1>購入者を選んでください</h1>
          
						 <% for (var i = 0; i < posts.length; i++) { %>
							<form method="post" name=<%= posts[i].name %> action="select">
							 <input type="hidden" name="name" value=<%= posts[i].name %>>
							  <input type="hidden" name="date" value=99999999>
							  <input type="hidden" name="unpaid" value=0>
							<a href="javascript:<%= posts[i].name %>.submit()" class="btn-square"><%= posts[i].name %></a>
							</form>
						<%} %>
						<a href="/admin" class="btn-square2">管理者ツール</a>
               
            </div>
			 </div>
        <footer class="site-width">
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script>
            
            var $selectPanel = $('.js-panel-select');
       
            $selectPanel.on('click', function(e){

                $selectPanel.css('border', '5px rgba(0,0,0,0) solid');
               
                $(this).css('border', '5px red solid');

            });
            
            ////ボタン活性化
            //クラス js-btn-prohibid のDOMを変数に入れる
            var $prohibidBtn = $('.js-btn-prohibid');
            
            //変数$selectPanelの要素をクリックしたとき
            $selectPanel.on('click', function(e){
                //クラスjs-btn-permitを追加する(ボタンの色が変わる)
                //クラスjs-btn-prohibidを削除する(ボタンの色が変わる)
                //属性disabledを削除する(ボタンが活性化される)
                $prohibidBtn.addClass('js-btn-permit').removeClass('js-btn-prohibid').removeAttr('disabled');
            }); 
            
            
        </script>
        

    </body>

</html>